.badge-dot i {
    display: inline-block;
    width: .375rem;
    height: .375rem;
    margin-right: .375rem;
    vertical-align: middle;
    border-radius: 50%;
}

.badge-dot i {
    display: inline-block;
    width: .375rem;
    height: .375rem;
    margin-right: .375rem;
    vertical-align: middle;
    border-radius: 50%;
}

@media (max-width:991px) and (min-width:768px) {
  .carousel-inner .item:nth-child(1) {
    height:553.5px;
  }
}

@media (max-width:991px) and (min-width:768px) {
  .somaimage{
    display:block;
    content:"";
    width:100%;
    height:553.5px;
    background-image:url(Morning-after-a-New-Year-Snow.jpg);
    background-size:cover;
  }
}
